{% extends 'shop/layouts/main.html' %}
{% block title %}Collections | Vorcas{% endblock title %}
{% load banner_tags %}

{% block content %}
    {% display_banner 'collection_banner' %}
    <div class="container mt-4">
        <h4 class="mb-3">Categories</h4>
        <div class="row">
            {% for item in categories %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{% url 'collectionsview' item.name %}" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
